<footer>
  <div>
    <p>Created By: Collin Barlow</p>
    <a href="https://github.com/Collinbarlow98">github</a>
    <a href="http://collinbarlow.info/">Portfolio</a>
    <a href="https://www.linkedin.com/in/collin-barlow-0aa43519b/">Linkedin</a>
  </div>
</footer>
