<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{>head}}
  <body>
    {{>header}}
    <div id="body">
      <form class='ImageUpload' action="/uploadImage" method="post" enctype="multipart/form-data">
        <div >
          <label for="inputImage" class="Buttons">Select Image</label>
          <input id='inputImage' class='Buttons' type="file" name="image" accept="image/jpeg, image/jpg, image/png" disable></input>
        </div>
        <div class='preview'>
          <p class='Buttons'>No Image Selected</p>
        </div>
        <button id='uploadButton' class='Buttons'>Upload</button>
      </form>
    </div>
    {{>footer}}
    <script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
